body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

:root {
  --black: #121212;
  --white: #fafafa;
  --border-5: 5px;
  --grey: #dedede;
  --grey-dark: #252525;
}

#root {
  max-width: 800px;
  margin: 0 auto;
}
