.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.nav__wrapper_right {
  display: flex;
  justify-content: end;
}
